@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.25em;
  height: 0.25em;
}
::-webkit-scrollbar-thumb {
  background: #f3ae0d;
  border-radius: 10em;
}
::-webkit-scrollbar-track {
  background: transparent;
}

@layer components {
  .main-container {
    @apply container mx-auto px-6;
  }
  .heading-style {
    @apply font-semibold text-3xl tracking-wider;
  }
  .delay-animation {
    @apply !transition-all !ease-in-out !duration-500;
  }
}

/* Footer section Animation */

.zoom {
  animation: scale 25s linear infinite;
}

@keyframes scale {
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}

/* Light box css  */

.galaxy_card:hover .Eye_icon {
  visibility: visible;
  transform: translateY(0) !important;
}
.indivisual_gallery_div_img:odd {
  animation: drop 500ms ease-in-out forwards;
}
.Eye_icon {
  transition: all ease-in-out 0.3s !important;
  transform: translateY(-1em);
}
.indivisual_gallery_div_img:odd {
  animation: drop 500ms ease-in-out forwards;
}
.galaxy_slider_card {
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: rgba(23, 23, 23, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in 2s;
  z-index: 999;
  left: 0px;
}
